<header class="gap-5 md:gap-10 xl:gap-20 grid grid-cols-2 mx-5 my-5 text-black dark:text-white">
    <!--NOMBRE DE LA TIENDA -->
    <h1 class="font-extrabold text-3xl text-center md:text-4xl xl:text-6xl">Elena's Shop</h1>

    <div class="gap-5 md:gap-10 xl:gap-20 grid grid-cols-2">

        <!--CUENTA PERSONAL -->
        <a href="./cuenta">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="size-6 stroke-2 md:size-12 xl:size-14 items-center align-middle stroke-black dark:stroke-white hover:stroke-blue-400">
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
            </svg>
        </a>


        <!--CARRITO -->
        <a href="./carrito">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="size-6 stroke-2 md:size-12 xl:size-14 items-center align-middle stroke-black dark:stroke-white hover:stroke-blue-400">
                <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                <path d="M17 17h-11v-14h-2"></path>
                <path d="M6 5l14 1l-1 7h-13"></path>
            </svg>
        </a>
    </div>
</header>