<nav class="flex justify-center gap-5 md:gap-10 xl:gap-20 bg-blue-300 mx-5 my-5 px-5 py-5 border rounded-full">
    <a href="" class="font-bold text-black text-md md:text-xl xl:text-2xl hover:text-blue-500">Tecnología</a>
    <a href="" class="font-bold text-black text-md md:text-xl xl:text-2xl hover:text-blue-500">Alimentación</a>
    <a href="" class="font-bold text-black text-md md:text-xl xl:text-2xl hover:text-blue-500">Moda</a>
    <a href="" class="font-bold text-black text-md md:text-xl xl:text-2xl hover:text-blue-500">Complementos</a>
</nav>