---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const books = await getCollection('books');

console.log(books[0].data)

---

<Layout title="Libros de fantasía">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
			To get started, create a new file in <code class="language-plaintext">src/pages/</code> directory with a name
		</p>
		<div>
		{
			books.map(book => {
				const {slug, data } = book;
				const {title, img, readingTime, description} = data;
				return(
					<div class="flex">
						<a href={`/libros/${slug}`} class="mb-2 xl:mb-0 transition hover:scale-110">
							<img src={`/img/${img}`} alt={title} class="rounded-lg w-full h-full object-cover" transition:name={`image-${slug}`}  />
						</a>
					</div>
				)

			})
		}
		</div>
		

		
		
	</main>
</Layout>