<a href="" class="border-gray-800 dark:border-gray-600 hover:bg-gray-900 dark:hover:bg-gray-600 mb-2 px-5 py-2.5 border rounded-lg focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-800 font-medium text-center text-sm hover:text-white focus:outline-none dark:hover:text-white dark:text-gray-400 me-2">
   <slot name="before" />
   <slot />
   <slot name="after" />
</a>