<header class="mx-auto px-4 lg:px-6 py-8 lg:py-16 max-w-xl">
    <div class="mx-auto mb-8 lg:mb-16 text-center">
        <h2 class="mb-4 font-extrabold text-5xl text-white tracking-tight">SpaceX Launches</h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">All the information abour SpaceX launches</p>
    </div>

    <nav class="flex flex-col">
        <a href="/">Últimos lanzamientos</a>
        <a href="/oldest">Los más viejos</a>
    </nav>
</header>